<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="three_finger_hand">

  <xacro:include filename="$(find three_finger_hand)/urdf/finger.xacro"/>

  <link name="world"/>

  <joint name="fixed_base" type="fixed">
    <parent link="world"/>
    <child link="palm"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="palm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.523"/>
      <geometry>
        <mesh filename="package://three_finger_hand/meshes/palm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://three_finger_hand/meshes/palm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <xacro:finger prefix="finger_1" parent="palm">
    <origin xyz="0.05785 0 0.06375" rpy="0 0.52333333 0"/>
  </xacro:finger>

  <xacro:finger prefix="finger_2" parent="palm">
    <origin xyz="-0.02893 0.05001 0.06375" rpy="0 0.52333333 2.0944"/>
  </xacro:finger>

  <xacro:finger prefix="finger_3" parent="palm">
    <origin xyz="-0.02893 -0.05001 0.06375" rpy="0 0.52333333 -2.0944"/>
  </xacro:finger>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" 
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find three_finger_hand)/config/hand_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="finger_1_joint_1">
      <command_interface name="position"><param name="min">-1.57</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_1_joint_2">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_1_joint_3">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_1_joint_4">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="finger_2_joint_1">
      <command_interface name="position"><param name="min">-1.57</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_2_joint_2">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_2_joint_3">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_2_joint_4">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="finger_3_joint_1">
      <command_interface name="position"><param name="min">-1.57</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_3_joint_2">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_3_joint_3">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="finger_3_joint_4">
      <command_interface name="position"><param name="min">0.0</param><param name="max">1.57</param></command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>